// layout.pug
doctype html
html
  head
    title #{title}
    link(rel='stylesheet', href='/css/styles.css')
  body
    nav
      ul
        li
          a(href='/') Inicio
        li
          a(href='/catalogo') Catálogo de Productos

        li
          #login-btn
            if (usuario)
              li(class="logged-in")
                a(href='/logout') Cerrar Sesión
            else
              li
                a(href='/login') Iniciar Sesión
        li.carritoCont
          a(href='/carrito') (#{carrito.length})
            img.carritoImg(src="../images/carrito.png", alt="Carrito.png")
    .container
      block content
